<div class="official-banner">
  <div class="container">
    <img class="official-banner__icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Coat_of_arms_of_Barbados_%282%29.svg/1280px-Coat_of_arms_of_Barbados_%282%29.svg.png" alt="Coat of Arms of Barbados">
    <span>Official government website</span>
  </div>
</div>
