<footer class="site-footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="/getting-started/barbados-digital-service-standards/">Service Standards</a></li>
      <li><a href="https://govtech-bb.github.io/design-system/?path=/docs/components-backbutton--docs">Design System</a></li>
      <li><a href="https://github.com/govtech-bb">GitHub</a></li>
      <li><a href="https://service-dashboard.alpha.gov.bb/">Service Dashboard</a></li>
      <li><a href="mailto:info@govtech.bb">Contact</a></li>
    </ul>
    <p class="site-footer__copy">&copy; 2026 GovTech Barbados. <a href="https://www.gov.bb">Government of Barbados</a>.</p>
  </div>
</footer>
